<!DOCTYPE>
<html data-ng-app='myTodoApp'>
    <head>
        <title>My Todo App</title>
        
        <meta charset="utf-8">
        <meta content="viewport" content='initial-scale=1,maximum-scale=1, user-scaleable=no, width=device-width'>
        
        <link href="stylesheets/normalize.css" rel="stylesheet"/>
        <link href="stylesheets/font-awesome.min.css" rel="stylesheet"/>
        <link href="stylesheets/style.css" rel="stylesheet">
        
        <script src="libs/angular.js"></script>
        <script src="libs/angular-route.js"></script>
        <script src="scripts/app.js"></script>
    </head>
    
    
    <body>
        <div class="appContainer" ng-controller="todoController">
            <!--<nav>
                <h2>Head</h2>
                <ul>
                    <li>Check</li>
                </ul>
            </nav>-->
            <header>
                <h1>Special Todo List</h1>
            </header>
            <section class="notifications">
                <div class="col-half">
                    {{archiveCount}}
                </div>
                <div class="col-half">
                </div>
            </section>
            <section class="addTask">
                <h3>Add a New Task</h3>
                <div>
                    <input data-ng-model="newTask.title" type="text" placeholder="What do you need to do?">
                    <button ng-click='createTask(newTask)'>Add Task</button>
                </div>
            </section>
            
            <section class="taskDisplay">
                <div class="tasks">
                    <h3>Tasks</h3>
                    <span>{{taskCount}}</span>
                </div>
                <ul ng-repeat='task in tasks'>
                    <li class="cf">
                        <span class="task" ng-class="{strike: $index == completed}">{{task.title}}</span>
                        <a href="" ng-click="complete($index)">
                            <span class="archive">
                                <span class="fa fa-check-square"></span>
                            </span>
                        </a>
                        <a href="" ng-click="del($index)">
                            <span class="taskCheckInput">
                            <span class="fa fa-asterisk"></span>
                           </span></a>
                    </li>
                </ul>
            </section>
        </div>
    
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </body>
</html>